@import '~@angular/material/theming';
@include mat-core();
.content{
    margin: 0 auto;
    width: 70%;
}

.ondrag{
    background-color: lightblue;
}
#droparea{
    overflow: auto;
    position: relative;
    height: 50vh;
    background: rgb(217, 245, 255);
    border-radius: 10px;

    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

#logs{
    overflow: auto;
    position: relative;
    height: 50vh;
    border-radius: 10px;

    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

.log-message{
    background: lightgreen;
}

.log-message-body{
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
}