@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-yellow);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.content{
    margin: 0 auto;
    width: 70%;
    max-width: 700px;
}

.ondrag{
    background-color: lightblue;
}
#droparea{
    overflow: auto;
    position: relative;
    height: 50vh;
    border-radius: 10px;
    background: #b3e5fc;
    // z-index: 1;


    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

// #droparea *{
//     z-index: 2;
// }

// #droparea-cover{
//     margin: 0;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     font-size: large;
//     color: darkgray;
//     z-index: 0;
//     text-align: center;
// }

#logs{
    overflow: auto;
    position: relative;
    height: 50vh;
    border-radius: 10px;

    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

.log-message{
    background: lightgreen;
}

.log-message-body{
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
}

.log-message-stderr{
    background-color: #fce4ec;
}
.form-content{
    margin: 16px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

button~button{
    margin-left: 16px;
}