<div class="content">
    <h1>Cloud Markdown</h1>

    <mat-vertical-stepper #stepper>
        <mat-step>
            <ng-template matStepLabel>ファイルをアップロード</ng-template>
            <div id="droparea" (dragover)="onDragover($event)" (dragleave)="onDragleave($event)" (drop)="onDrop($event)"
                [classList]="classlist">
                <single-file [passwd]="passwd" [file]="file" *ngFor="let file of files"></single-file>
            </div>
            <button mat-raised-button color="primary" (click)="compile()" matStepperNext>コンパイル</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>ログ</ng-template>
            <div #logselement id="logs">
                <mat-card class="log-message-body" [ngClass]="{'log-message-stderr':log.type === 'stderr'}"
                    *ngFor="let log of logs">
                    {{log.body}}
                </mat-card>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>完了</ng-template>
            <div>
                <button mat-button (click)="downloadPDF()">PDFをダウンロード</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</div>





<router-outlet></router-outlet>