@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-yellow);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.content{
    margin: 0 auto;
    width: 70%;
}

.ondrag{
    background-color: lightblue;
}
#droparea{
    overflow: auto;
    position: relative;
    height: 50vh;
    background: #b3e5fc;
    border-radius: 10px;

    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

#logs{
    overflow: auto;
    position: relative;
    height: 50vh;
    border-radius: 10px;

    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

.log-message{
    background: lightgreen;
}

.log-message-body{
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
}

.log-message-stderr{
    background-color: #fce4ec;
}