h1{
    text-align: center;
}
.content{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.ondrag{
    background-color: lightblue;
}
#droparea{
    overflow: auto;
    position: absolute;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

// #droparea *{
//     z-index: 2;
// }
#dragmessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#droparea-cover{
    border: 3px solid #3f51b5;
    margin: 10px 0;
    height: 50vh;
    position: relative;
    font-size: large;
    color: black;
    text-align: center;
    border-radius: 10px;
    transition-duration: 200ms;
}

#droparea-cover.dragging{
    box-shadow: 0 0 10px gray;
}

#logs{
    overflow: auto;
    position: relative;
    height: 50vh;
    border-radius: 10px;

    $file-margin:10px;
    >*:first-child{
        margin: $file-margin;
    }
    >*{
        margin: $file-margin;
    }
    >*:last-child{
        margin: $file-margin;
    }
}

.log-message{
    background: lightgreen;
}

.log-message-body{
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
}

.log-message-stderr{
    background-color: #fce4ec;
}
.form-content{
    margin: 16px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

button~button{
    margin-left: 16px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
         
        >a{
            margin: 10px;
        }
    }
}

a:visited{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
}

#fixedbottomright{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;

}