<div class="content">
    <h1>Cloud Markdown</h1>
    <a href="https://github.com/shosatojp/cloudmd/blob/master/HOWTOWRITE.md" target="_blank">ヘルプ</a>
    <mat-vertical-stepper #stepper>
        <mat-step>
            <ng-template matStepLabel>ファイルをアップロード</ng-template>
            <div id="droparea" (dragover)="onDragover($event)" (dragleave)="onDragleave($event)" (drop)="onDrop($event)"
                [classList]="classlist">
                <!-- <div id="droparea-cover">ファイルをドラッグアンドドロップ</div> -->
                <single-file [passwd]="passwd" [file]="file" *ngFor="let file of files"></single-file>
            </div>
            <div class="form-content">
                <mat-radio-group aria-label="" [(ngModel)]="compile_type">
                    <div>
                        <label>コンパイル方式</label>
                    </div>
                    <mat-radio-button matTooltipPosition="above" value="markdown"
                        matTooltip="MarkdownをTexに変換してからPDFにコンパイルします。`.md`ファイルが使用されます。">Markdown</mat-radio-button>
                    <mat-radio-button matTooltipPosition="above" value="tex"
                        matTooltip="TexをそのままPDFにコンパイルします。`.tex`ファイルが使用されます。">Tex
                    </mat-radio-button>
                </mat-radio-group>
                <mat-radio-group [disabled]="compile_type !== 'markdown'" [(ngModel)]="template_type">
                    <div>
                        <label>テンプレート</label>
                    </div>
                    <mat-radio-button matTooltipPosition="above" value="report" matTooltip="あらゆるレポートに対応するTex文書を作成できます">
                        レポート</mat-radio-button>
                    <mat-radio-button matTooltipPosition="above" value="english" matTooltip="英語のレポートに最適化したTex文書を作成できます">
                        英語用</mat-radio-button>
                </mat-radio-group>
            </div>
            <div style="margin: 10px 0;">
                <button [disabled]="!files.length" mat-raised-button color="primary" (click)="compile()"
                    matStepperNext>コンパイル</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>ログ</ng-template>
            <div #logselement id="logs">
                <mat-card class="log-message-body" [ngClass]="{'log-message-stderr':log.type === 'stderr'}"
                    *ngFor="let log of logs">
                    {{log.body}}
                </mat-card>
            </div>
            <div>
                <button mat-raised-button color="secondary" mat-button (click)="download('.tex')">
                    <mat-icon>get_app</mat-icon>Texをダウンロード
                </button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>完了</ng-template>
            <div>
                <button mat-raised-button color="primary" mat-button (click)="download('.pdf')" [disabled]="!compiled">
                    <mat-icon>get_app</mat-icon>PDFをダウンロード
                </button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</div>